doctype html
html
  head
    title Email Verification
  body
    h1 Dear #{name},
    p click on below to reset the password:
    p
      a(href=resetPasswordToken) Reset password
    p If you did not create an account, please ignore this email.
