doctype html
html
  head
    title Email Verification
  body
    h1 Dear #{name},
    p To verify your email, click on the link below:
    p
      a(href=verificationEmailUrl) Verify Email
    p If you did not create an account, please ignore this email.
